// VARIABLES + OVERRIDES
// ------------------------------------
@import 'variables';

// BOOTSTRAP COMPONENTS
// ------------------------------------
// ALL COMPONENTS
// @import 'bootstrap/scss/bootstrap.scss';
// @import 'bootstrap-vue/src/index.scss';

// CONFIGURATION
@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";
@import "bootstrap/scss/_utilities.scss";

// LAYOUT & COMPONENTS
@import "bootstrap/scss/_root.scss";
@import "bootstrap/scss/_reboot.scss";
@import "bootstrap/scss/_type.scss";
@import "bootstrap/scss/_images.scss";
@import "bootstrap/scss/_containers.scss";
@import "bootstrap/scss/_grid.scss";
// @import "bootstrap/scss/_tables.scss";
// @import "bootstrap/scss/_forms.scss";
@import "bootstrap/scss/_buttons.scss";
@import "bootstrap/scss/_transitions.scss";
// @import "bootstrap/scss/_dropdown.scss";
// @import "bootstrap/scss/_button-group.scss";
// @import "bootstrap/scss/_nav.scss";
// @import "bootstrap/scss/_navbar.scss";
// @import "bootstrap/scss/_card.scss";
// @import "bootstrap/scss/_breadcrumb.scss";
// @import "bootstrap/scss/_pagination.scss";
// @import "bootstrap/scss/_badge.scss";
// @import "bootstrap/scss/_alert.scss";
// @import "bootstrap/scss/_progress.scss";
// @import "bootstrap/scss/_list-group.scss";
// @import "bootstrap/scss/_close.scss";
// @import "bootstrap/scss/_toasts.scss";
// @import "bootstrap/scss/_modal.scss";
// @import "bootstrap/scss/_tooltip.scss";
// @import "bootstrap/scss/_popover.scss";
// @import "bootstrap/scss/_carousel.scss";
// @import "bootstrap/scss/_spinners.scss";

// HELPERS
@import "bootstrap/scss/_helpers.scss";

// UTILITIES
@import "bootstrap/scss/utilities/_api.scss";

// GLOBAL STYLES
// ------------------------------------
body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &-content {
    flex: 1 0 auto;
  }
}

// TYPOGRAPHY
// ------------------------------------
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  letter-spacing: -0.075em;
}

.subheading {
  font-family: $font-subheading;
  letter-spacing: -0.05em;
}

a {
  transition: $transition-base;
}

// BUTTONS
// ------------------------------------
.btn {
  text-transform: uppercase;
}

// BADGES
// ------------------------------------
// .badge {
//   font-family: $font-subheading;
//   text-transform: uppercase;
// }
